/* Hide sidebar on mobile */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

/* Tablet - smaller sidebar */
@media (max-width: 1024px) and (min-width: 769px) {
  .sidebar {
    width: 60px;
  }
  
  .sidebar-link {
    height: 65px;
  }
  
  .sidebar-link img {
    width: 25px;
    height: 22px;
  }
  
  .sidebar-link div {
    font-size: 9px;
  }
}